.contents
  = render 'shared/side_bar'
  .main_content
    .main_header
      .main_header_display
        .main_group_name
          / - current_user.groups.each do |group|
          = @group.name
        .main_login_name
          MEMBER:
          - @group.users.each do |user|
            = user.name
      = link_to 'edit', edit_group_path(@group), class: "edit_btn"
    .messageslists
      = render @messages
    .footer
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
